.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}
.profile__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
}
.profile__edit {
  margin-top: auto;
  display: flex;
  background-color: transparent;
  color: #212121;
  gap: 8px;
  border: none;
  opacity: 0.7;
}
.profile__edit:hover {
  opacity: 100%;
  cursor: pointer;
}
.profile__new {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.profile__new:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 629px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }
  .profile__description {
    margin: 0 0 32px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__edit {
    margin: auto;
  }
  .profile__new {
    margin: 0;
    width: 100%;
  }
}
